body {
    font-family: sans-serif;
    line-height: 1.5;
  
    background-color: #f9f9f9;
    color: #333333;
  
    width: 980px;
    margin: 0 auto;
  }
  @keyframes my-color {
    0% {
        color: #000;
    }

    50% {
        color: blue;
    }

    100% {
        color: red;
    }
}

  h1 {
    animation-name: my-color;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    text-align: center;
    font-size: 36px;
    margin-bottom: 0;
  }
  
  main > h2 {
    text-align: center;
    font-size: 25px;
  }
